@model IEnumerable<BusinessLayer.Proyecto>

@{
    ViewBag.Title = "Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Proyectos</h2>
<p>@Html.ActionLink("Crear","Crear","Productos")</p>
<table class="table table-striped table-hover">
    <tr class="info">
        <th>
            @Html.DisplayName("Nombre")
        </th>
        <th>
            @Html.DisplayName("Precio")
        </th>
        <th>
            @Html.DisplayName("Stock")
        </th>
        <th>
            @Html.DisplayName("Imagen")
        </th>
        <th>
            @Html.DisplayName("Categoria")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.proyectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.proyectDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.proyectStock)
            </td>
            <td>
                <img src="@Url.Content(item.proyectImage)" style="height:150px;width:150px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.categoryName)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.proyectId }) |
                @Html.ActionLink("Borrar", "Eliminar", new { id = item.proyectId })
            </td>
        </tr>
    }

</table>
